# Used by ifup(8) and ifdown(8). See the interfaces(5) manpage or
# /usr/share/doc/ifupdown/examples for more information.
#
# {{ansible_managed}}

auto lo
iface lo inet loopback

auto eth0
iface eth0 inet static
  address 10.95.97.241
  netmask 255.255.255.0
  check-gw 10.95.97.150 10.95.97.150

auto eth0:1
iface eth0:1 inet static
  address {{ems_addr}}
  netmask 255.255.255.0
  check-gw !10.95.97.150 {{ems_gw}}

auto eth0.{{ci_vlan}}
iface eth0.{{ci_vlan}} inet static
  address {{ci_addr}}
  netmask 255.255.255.0
  {% if ci_gw -%}
  post-up ip route add 10.20.1.0/24 via {{ci_gw}} dev eth0.{{ci_vlan}}
  pre-down ip route del 10.20.1.0/24 via {{ci_gw}} dev eth0.{{ci_vlan}}
  {% endif %}

allow-hotplug wlan0
iface wlan0 inet static
  address {{wlan_addr|default("10.13.0.1")}}
  netmask 255.255.0.0
  wireless-essid dpdock
  wireless-mode ad-hoc
  wireless-channel 2
